<!DOCTYPE html>
<html xmlns:th="http://www.thymelef.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<!-- 	------------------------------------------------Menu --------------------------------------------------------------- -->
		<div class="row">
			<a href="/CrearCliente"
				class="col-sm-2 col-md-2 col-lg-2 col-xl-2 btn btn-primary">Crear
				cliente</a> <a href="/CrearVenta"
				class="col-sm-2 col-md-2 col-lg-2 col-xl-2 btn btn-primary">Crear
				Venta</a><a href="/CrearMueble"
				class="col-sm-2 col-md-2 col-lg-2 col-xl-2 btn btn-primary">Crear
				Mueble</a> <a href="/FinalizarVenta"
				class="col-sm-2 col-md-2 col-lg-2 col-xl-2 btn btn-primary">Finalizar
				Venta</a> <a href="/AsignarCodigoDeBarras"
				class="col-sm-2 col-md-2 col-lg-2 col-xl-2 btn btn-primary">Asignar
				Codigos De Barras</a> <a href="/PedidosAFabricar"
				class="col-sm-2 col-md-2 col-lg-2 col-xl-2 btn btn-primary">Pedidos
				a Fabricar</a>
		</div>

		<!-- 	-------------------------------------------------------------------------------------------------------------------- -->

		<h1 class="text-danger">NO ES POSIBLE FINALIZAR LA VENTA YA QUE NO ESTAN ASIGNADAS LA CANTIDAD DE CODIGOS DE BARRA SOLICITADOS POR LA VENTA</h1>
	</div>
</body>
</html>