<!DOCTYPE html>
<html xmlns:th="http://www.thymelef.org">
<head>
<meta charset="UTF-8">
<title>Finalizar Venta</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<!-- 	------------------------------------------------Menu --------------------------------------------------------------- -->
		<div class="row">
			<a href="/CrearCliente"
				class="col-sm-2 col-md-2 col-lg-2 col-xl-2 btn btn-primary">Crear
				cliente</a><a href="/CrearVenta"
				class="col-sm-2 col-md-2 col-lg-2 col-xl-2 btn btn-primary">Crear
				Venta</a> <a href="/CrearMueble"
				class="col-sm-2 col-md-2 col-lg-2 col-xl-2 btn btn-primary">Crear
				Mueble</a> <a href="/FinalizarVenta"
				class="col-sm-2 col-md-2 col-lg-2 col-xl-2 btn btn-primary">Finalizar
				Venta</a> <a href="/AsignarCodigoDeBarras"
				class="col-sm-2 col-md-2 col-lg-2 col-xl-2 btn btn-primary">Asignar
				Codigos De Barras</a> <a href="/PedidosAFabricar"
				class="col-sm-2 col-md-2 col-lg-2 col-xl-2 btn btn-primary">Pedidos
				a Fabricar</a>
		</div>
		<!-- 		 --------------------------------------------------------------------------------------------------------------------------------------- -->
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Finalizar Venta</th>
					<th scope="col">ID Venta</th>
					<th scope="col">Lugar De Entrega</th>
					<th scope="col">Fecha Inicio(DD-MM-AAAA)</th>
					<th scope="col">Fecha Entrega(DD-MM-AAAA)</th>
					<th scope="col">Precio Total</th>
					<th scope="col">Ganancia</th>
					<th scope="col">Metodo Envio</th>
					<th scope="col">Cliente</th>
					<th scope="col">Muebles</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ven:${ventas}">
					<th scope="row"><a
						th:href="@{/finalizarVenta/} + ${ven.id_Venta}"
						class="btn btn-primary btn-sm">Finalizar</a></th>
					<th scope="row" th:text="${ven.id_Venta}"></th>
					<th scope="row" th:text="${ven.lugar_De_Entrega}"></th>
					<th scope="row"
						th:text="${#dates.format(ven.fecha_Inicio,'dd-MM-yyyy')}"></th>
					<th scope="row"
						th:text="${#dates.format(ven.fecha_Entrega,'dd-MM-yyyy')}"></th>
					<th scope="row" th:text="${ven.precio_Total}"></th>
					<th scope="row" th:text="${ven.ganancia}"></th>
					<th scope="row" th:text="${ven.metodo_Envio}"></th>
					<th scope="row" th:text="${ven.cliente.nombre_Cliente}"></th>
					<th>
						<!-- 		 --------------------------------------------------------------------------------------------------------------------------------------- -->
						<table class="table">
							<thead>
								<tr>
									<th class="p-3 mb-2 bg-success text-white">Muebles
										asignados</th>
									<th class="p-3 mb-2 bg-success text-white">Codigos de
										Barras Asignados</th>
									<th class="p-3 mb-2 bg-success text-white">Codigos de
										Barras disponibles</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="venMue:${ven.ventaMuebles}">
									<th scope="row">
											<label
												th:text="'Id:'+${venMue.mueble.id_Mueble}+'-'+${venMue.mueble.nombre_Mueble}"></label>
											<label th:if="${venMue.mueble.alfombra}" th:text="'Color:'+${venMue.mueble.alfombra.color.nombre_Color}"></label>
											<label th:if="${venMue.mueble.baul}" th:text="'Color:'+${venMue.mueble.baul.color.nombre_Color}"></label>
											<label th:text="'-'+${venMue.cantidad}+'ud.'"></label>
										</th>
									<th><th:block scope="row"
											th:each="codAs:${venMue.codigosDeBarras}">
											<label th:text="${codAs.numeroCodigoDeBarras}"></label>
											<a
												th:href="@{/deleteMuebleCodigoDeBarras/} + ${codAs.numeroCodigoDeBarras}"
												class="btn btn-primary btn-sm">Eliminar</a>
										</th:block></th>
									<th>
										<form action="#" th:action="@{/asignarCodigoAVenta}"
											th:object="${ventaMuebleYCodigoDeBarras}" method="post">
											<aside>
												Numero Codigo de Barras: <select
													th:field="${ventaMuebleYCodigoDeBarras.numeroCodigoDeBarras}">
													<option th:each="codBar:${codigosDeBarras}"
														th:if="${venMue.mueble.id_Mueble} == ${codBar.mueble.id_Mueble}"
														th:value="${codBar.numeroCodigoDeBarras}"
														th:text="${codBar.numeroCodigoDeBarras}" />
												</select> <select th:field="${ventaMuebleYCodigoDeBarras.id_Mueble}"
													style="visibility: hidden">
													<option th:value="${venMue.mueble.id_Mueble}"
														th:text="${venMue.mueble.id_Mueble}" />
												</select> <select th:field="${ventaMuebleYCodigoDeBarras.id_Venta}"
													style="visibility: hidden">
													<option th:value="${venMue.venta.id_Venta}"
														th:text="${venMue.venta.id_Venta}" />
												</select>
											</aside>
											<input type="submit" class="btn btn-primary btn-sm"
												value="Asignar">
										</form>
									</th>
								</tr>
							</tbody>
						</table> <!-- 		 --------------------------------------------------------------------------------------------------------------------------------------- -->
					</th>
			</tbody>
		</table>
		<!-- 	-------------------------------------------------------------------------------------------------------------------- -->
	</div>
</body>
</html>